%h1.medication-header
  Search: #{@search.query}

- if @search.error?
  %p= @search.error_message
- else
  - @search.results.each do |result|
    %p
      %strong= result[:openfda][:generic_name]

  = @search.results
