@import 'settings';
@font-face {
    font-family: 'montserratbold';
    src: url(asset_path('montserrat-bold-webfont.eot'));
    src: url(asset_path('montserrat-bold-webfont.eot?#iefix')) format('embedded-opentype'),
         url(asset_path('montserrat-bold-webfont.woff2')) format('woff2'),
         url(asset_path('montserrat-bold-webfont.woff')) format('woff'),
         url(asset_path('montserrat-bold-webfont.ttf')) format('truetype'),
         url(asset_path('montserrat-bold-webfont.svg#montserratbold')) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url(asset_path('montserrat-regular-webfont.eot'));
    src: url(asset_path('montserrat-regular-webfont.eot?#iefix')) format('embedded-opentype'),
         url(asset_path('montserrat-regular-webfont.woff2')) format('woff2'),
         url(asset_path('montserrat-regular-webfont.woff')) format('woff'),
         url(asset_path('montserrat-regular-webfont.ttf')) format('truetype'),
         url(asset_path('montserrat-regular-webfont.svg#montserratregular')) format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  overflow-y: scroll;
}

body {
  font-family: 'montserratregular', Helvetica, Arial, sans-serif;
}

a.fa:before {
  margin-right: .25em;
}

strong {
  font-family: 'montserratbold', Helvetica, Arial, sans-serif;
}

.top-nav {
  border-bottom: 0.7rem solid $app-primary-color;
  height: 8rem;
  width: 100%;
  background-color: #353535;
}

.top-box {
  width: 87px;
  height: 98px;
  margin: -4rem auto 1.5em;
}

h1.medication-header {
	font-size: 1.5em;
	font-weight: 600;
	text-align: center;
  font-family: 'montserratbold', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin: 0 0 1em 0;
}

h4 {
	font-size: 1.25em;
  font-family: 'montserratbold', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid $line-color;
  padding-bottom: .3em;
  text-transform: uppercase;
  margin: 2em 0 1em;
}

.warnings {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px 10px;
  background-color: #DE5353;
  background-image: url(asset_path('bg-lines.png'));
  color: #FFF;
  text-align: center;
}


.search-field-container {
  position: relative;

  button {
    background: none;
    border: 0;
    width: auto !important;
    display: inline-block !important;
    position: absolute;
    left: 0;
    font-size: 1.5em;
    color: #353535;
    padding: 0 .5em;
  }

  .searchbox {
    text-indent: 3em;
    background-color: #C6C6C6;
    border: 0;
    font-family: 'montserratbold', Helvetica, Arial, sans-serif;


    &:focus, &:active {
      background-color: #E8E8E8;
    }
  }
}

.accordion {
  margin: 0;
}

.searchbox {
  &::-webkit-input-placeholder { /* WebKit browsers */
    color:    $searchbox-placeholder-color;
  }

  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    $searchbox-placeholder-color;
    opacity:  1;
  }

  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    $searchbox-placeholder-color;
    opacity:  1;
  }

  &:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    $searchbox-placeholder-color;
  }
}
